.jumbotron {
    height:150px;
    margin-bottom: 20px;
    background: rgba(0, 0, 0, 0.5);
}

h1 {
    font-size: 60px;
    margin-bottom: 0px!important;
    line-height: 0.3!important;
    font-family: 'Kaushan Script', cursive;
    color: #fff;
}

.col-8 {
    background: rgba(255, 255, 255, .5);
    border-radius: 25px;
}

.hover {
    padding-left: 20px;
    padding-right: 20px;
}

.hover:hover {
    background-color: #8cb9cd;
}

body {
    background-image: url("../images/Firefly_Wallpaper.jpg");
    font-size: 20px;
}

.modal-header, .modal-footer {
    background-color: #bc9e93;
}

.modal-body {
    background-image: url("../images/modal.png");
}

#summ {
    background-image: none;
    background-color: #e9ecef!important;
}

img {
    max-width: 80%;
    height: auto;
    border-radius: 25px;
    border: #000 solid 5px;
}

@media (max-width: 576px) {
    .jumbotron {
        padding: 4rem 2rem;
    }
    h1 {
        font-size: 1.7rem;
    }
}